/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-image: url("../images/cover-image-dark.png");
  --background-color-header: #00082b;
  --font-color-header-h1: #DB00FF;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-color-opacity: rgba(255 0 112 / 40%);
  --main-font-size: 18px;
  --main-color: #000028;
  --font-size-h1: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --line-height-h1: 82.5%;
  --font-size-h2: 18px;
  --line-height-h2: 23.4px;
  --font-size-h3: 18px;
  --line-height-h3: 23.4px;
  --font-size-h4: 18px;
  --line-height-h4: 23.4px;
  --line-height-p: 23.4px;
  --page-padding: 0 10px;
  --top-botom-for-decor-element: 10px;
  --margin-bottom-header-main: 40px;
  --gap-xs: 10px;
  --gap-s: 20px;
  --gap-l: 50px;
}
